.input-group {
  display: flex;
  align-items: center;
  margin-bottom: $s-size;
}

.input-group__summary {
  display: flex;
  align-items: center;
  margin-bottom: $s-size;
  justify-content: space-between;
}

.input-group__item {
  margin: 0 $s-size 0 0;
}
