.input-group {
  display: flex;
  align-items: center;
  margin-bottom: $s-size;
}

.input-group__summary {
  overflow: hidden;
  padding-bottom: $l-size;
}

.summary-item {
  float: left;
  padding-right: $xl-size;
}

.input-group__item {
  margin: 0 $s-size 0 0;
}
